*{
	box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
.profil{
	width: 100%;
	float: left;
	color: #191919;
	background-image: url("silver-shiny-background.jpg");
	background-size: cover;
}
.wrapper_profile{
	background-color: #34495e;
	padding: 30px 20px;
	float: left;
	width: 100%;
}
.photo_name{
	width: 50%;
	float: left;
	padding: 15px;
	margin: 0 25%;
	background-color: #2E8B57;
	border-radius: 10px;
	text-align: center;
}
.photo_name p{
	text-align: center;
}
.photo_name img{
	height: 160px;
	width: 160px;
	border-radius: 100%;
	float: left;
}
.photo_name h1{
	padding: 40px 50px;
	float: left;
}
.detail_profil{
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 5px;
	background-color: rgba(192,192,192,0,7);
}
.detail_profil h3{
	shape-margin: 2px;
}
.detail_profil p{
	shape-margin: 2px;
}
.Hobi{
	width: 100%;
	background-color: #C0C0C0;
	margin-top: 5px;
	float: left;
}
.Hobi h3{
	text-align: center;
	background-color: #2E8B57;
	padding: 20px;
	margin: 0;
}
.flex_box{
	display: flex;
}
.flex_box li{
	flex: auto;
	list-style: none;
	padding: 30px;
}
.flex_box h4{
	text-align: center;
}
.pendidikan{
	width: 100%;
	background-color: #C0C0C0;
	margin-top: 5px;
	float: left;
	padding-bottom: 20px;
}
.pendidikan h3{
	text-align: center;
	background-color: #2E8B57;
	padding: 20px;
	margin: 0;
}
.container{
	margin: 20px auto;
	width: 40%;
}
.pen_left{
	float: left;
	width: 100%;
	border-color: #191919;
	border-style: solid none solid solid;
	padding: 10px;
	text-align: left;
}
.pen_right{
	float: left;
	width: 100%;
	border-color: #191919;
	border-style: none solid none none;
	padding: 10px;
	text-align: right;
}
.container{
	width: 90%;
	background-color: #191919;
}
.skills{
	text-align: right;
	padding-top: 3px;
	padding-bottom: 3px;
	color: white;
}
.keahlian{
	width: 100%;
	background-color: #C0C0C0;
	margin-top: 5px;
	float: left;
	margin-bottom: 20px;
}
.keahlian h3{
	text-align: center;
	background-color: #2E8B57;
	padding: 20px;
	margin: 0;
}
.coding{width: 20%; background-color: #04AA6D;}
.photoshop{width: 15%; background-color: #2196F3;}
.msword{width: 20%; background-color: #f44336;}
}
.footer{
	text-align: left;
	width: 100%;
	padding: 20px 30px;
	background-color: #2E8B57;
	margin-top: 5px;
}
.listfooter ul{
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	align-items: center;
}
.listfooter li{
	height: 24px;
	list-style: none;
	margin: 5px;
}
.footer a{
	float: left;
	color: #191919;
	text-decoration: none;
}
.footer img{
	float: left;
	margin-right: 5px;
}
